<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:each="action : ${actions}">
                        <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <table th:fragment="job-list" class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <span class="table-label" th:text="${#strings.toUpperCase('ID: ')}"></span>
                <span th:text="${job.id}"></span>
                <br>
                <span class="table-label" th:text="${#strings.toUpperCase('Name: ')}"></span>
                <span th:text="${job.name}"></span>
                <br>
                <span class="table-label" th:text="${#strings.toUpperCase('Employer: ')}"></span>
                <span><a th:href="@{/list/jobs(column=${'employer'},value=${job.employer})}" th:text="${job.employer}"></a></span>
                <br>
                <span class="table-label" th:text="${#strings.toUpperCase('Location: ')}"></span>
                <span><a th:href="@{/list/jobs(column=${'location'},value=${job.location})}" th:text="${job.location}"></a></span>
                <br>
                <span class="table-label" th:text="${#strings.toUpperCase('Position Type: ')}"></span>
                <span><a th:href="@{/list/jobs(column=${'positionType'},value=${job.positionType})}" th:text="${job.positionType}"></a></span>
                <br>
                <span class="table-label" th:text="${#strings.toUpperCase('Skill: ')}"></span>
                <span><a th:href="@{/list/jobs(column=${'coreCompetency'},value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a></span>
            </td>
        </tr>
    </table>


</body>
</html>